<%= render 'search' %>

<br>

<% unless @available_flights.nil? %>
        <% if @available_flights.any? %>
          <div class="section">
            <h2 class="title is-4">Outbound flight for <%= City.find(params[:depart_city_id]).name %> to <%= City.find(params[:arrive_city_id]).name %> </h2>
            <h2 class="subtitle"><%= @selected_date.strftime('%B %d, %Y') %></h2>
            <%= render "search_results_form" %>
          </div>
        <% else %>
          <p>There are no available flights on the selected date</p>
        <% end %>
      <% end %>